@using Shared.Models
<div class="container custom-container-scheduling-item">
    <span>@Info.Subject</span>
    <div class="d-flex flex-column flex-wrap m-3">
        <span>@Info.TeacherInitials</span>
        <span>@Info.Date.ToShortDateString()</span>
        <span>@Info.Classname</span>
        <span>@Info.Classroom</span>
    </div>
</div>
<style>
    .custom-container-scheduling-item{
        margin: 5px;
        background-color: blue;
        color:white;
        border-radius: 5px;
        font-weight: 600;
    }
</style>
@code{
    [Parameter]
    public SchedulingInfo Info {get; set;} = new();
}